@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Car Pool System</h1>

<div class="card login-card justify-content-center">
    <div class="form-group justify-content-center">
       <a asp-controller="Identity" asp-action="Registration" class="btn signin-signup-btn">Sign Up</a>
    </div>
    <br />
    <br/>
    <div class="justify-content-center">
        <a asp-controller="Identity" asp-action="Login" class="btn signin-signup-btn">Sign In</a>
    </div>

    <div class="justify-content-center">
        <a asp-controller="Identity" asp-action="GetUserList" class="btn signin-signup-btn">Get User List</a>
    </div>

</div>
