@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Car Pool System</h1>

<div>
    <a asp-controller="Identity" asp-action="Registration" class="btn btn-primary">Sign Up</a>
    <a asp-controller="Identity" asp-action="Login" class="btn btn-primary">Sign In</a>
</div>
